[Desktop Entry]
Name=fcitx-qimpanel-configtool
Name[zh_CN]=fcitx-qimpanel-configtool
Comment=fcitx皮肤配置向导-UbuntuKylin
Exec=/usr/bin/fcitx-qimpanel-configtool
Icon=fcitx.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;RasterGraphics;Viewer;Utility;Network;
